@use "../core/mixins" as *;
@use "../core/font" as *;
@use "../core/theme" as *;

@use "../components/cards" as card;
@use "../components/button" as button;

.container {

  .header-container {
    margin-bottom: 2em;
  }

  .card-body {
    @include card.card($background-primary, $little-radius);
    margin: 0 auto;
    padding: 2em;
    width: 100%;
    max-width: 850px;

    table {
      tr {
        border-bottom: 1px solid $primary;
      }
      th {
        text-align: left;
        padding: 10px;
      }
      td {
        padding: 10px;

      }

    }
  }
}