@use "../core/theme" as *;
@use "../core/mixins" as *;

@use "../components/validation";

@use "../components/button" as btn;
@use "../components/cards" as card;


.box {
  .card {
    @include card.card($background-primary, $radius);
    padding: 20px;
    max-width: 400px;
    font-size: 1.4rem;
    margin: 50px 20px 150px;

    @include for-tablet-portrait-up {
      margin: 15% auto;
    }

    .title {
      font-size: 1.6rem;
      font-weight: bold;
      color: $primary;
      margin-bottom: 10px;
      display: block;
    }

    .error-list {
      padding-left: 0;
      list-style: none;

      font-weight: bold;
      line-height: 1.3;

      li {
        line-height: 1.3;
        margin: 5px 0;
        padding: 5px;
        background-color: $background-danger-light;
        color: $text-danger-light;
        border-radius: $little-radius;
      }
    }

    input {
      margin: 10px 0;
      padding: 10px;
      border: 2px solid $primary;
      border-radius: 10px;
      width: 100%;
      box-sizing: border-box;
    }

    .form-check {
      margin-top: 10px;
      display: flex;
    }

    .form-check-input {
      width: 14px;
      margin: 0 5px;
    }

    .btn-primary {
      @include btn.btn-base;
    }

    .links-container {
      margin-top: 20px;

      a {
        color: $link;
        display: block;
        line-height: 1.5em;
      }
    }
  }
}