@use "../core/mixins" as *;
@use "../core/font" as *;
@use "../core/theme" as *;

header {
  .header-container {

    .logo-container {
      margin-left: 20px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-nav-container {
      ul {
        display: flex;
        margin-right: 80px;
        font-size: 1.6rem;

        li {
          margin: 0 20px;
        }
      }
    }

    .header-nav-container.desktop {
      display: none;

      @include for-tablet-portrait-up {
        display: block;
      }
    }

    .header-nav-container.desktop.active {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 100;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    @include for-tablet-portrait-down {
      .menu-icon {
        display: block;
        width: 30px;
        height: 25px;
        cursor: pointer;
        padding: 25px;
      }

      .bar, .bar2 {
        height: 3px;
        background-color: $primary;
        margin: 5px 0;
        transition: all 0.3s ease;
      }

      .bar {
        width: 100%;
      }

      .bar2 {
        width: 70%;
      }

      &.active {
        .bar {
          transform: rotate(45deg) translate(5px, 5px);
        }

        .bar2 {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }
}