@use "../core/mixins" as *;
@use "../core/font" as *;
@use "../core/theme" as *;
@use "../components/cards"  as card;

header {
  .card {
    @include card.card($background-primary, $medium-radius);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
      margin-left: 20px;
      a {
        color: $primary;
      }
    }

    @include for-tablet-portrait-down {
      .menu-icon {
        display: block;
        width: 30px;
        height: 25px;
        cursor: pointer;
        padding: 25px;
      }

      .bar, .bar2 {
        height: 3px;
        background-color: $primary;
        margin: 5px 0;
        transition: all 0.3s ease;
      }

      .bar {
        width: 100%;
      }

      .bar2 {
        width: 70%;
      }

      &.active {
        .bar {
          transform: rotate(45deg) translate(5px, 5px);
        }

        .bar2 {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }

  .mobile-nav {
    display: none;

    @include for-tablet-portrait-up {
      display: block;

      ul {
        display: flex;
        padding: 0 20px;
        font-size: 1.6rem;

        li {
          margin: 0 10px;
        }
      }
    }

    &.active {
      display: block;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: $background-primary;
      color: $text-primary;
      z-index: 100;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      @include card.card($background-secondary, $medium-radius);

      ul {
        display: flex;
        flex-direction: column;
        line-height: 1.7;
        text-align: right;
        padding: 20px;
        font-size: 1.6rem;
      }
    }
  }
}