@use "../core/mixins" as *;
@use "../core/font" as *;
@use "../core/theme" as *;

header {
  .header-container {

    .logo-container {
      margin-left: 20px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-nav-container {
      ul {
        display: flex;
        margin-right: 80px;
        font-size: 1.6rem;

        li {
          margin: 0 20px;
        }
      }
    }

    @include for-tablet-portrait-down {
      .menu-icon {
        display: block;
        width: 30px;
        height: 25px;
        cursor: pointer;
        padding: 25px;
      }

      .bar, .bar2 {
        height: 3px;
        background-color: $primary;
        margin: 5px 0;
        transition: 0.4s;
      }

      .bar {
        width: 100%;
      }

      .bar2 {
        width: 70%;
      }
    }
  }
}