@use "../../core/mixins" as *;
@use "../../core/font" as *;
@use "../../core/theme" as *;

@use "../../partials/status_story.scss";

.container {

  .content-container {
    .img-container {
      img {
        border-radius: $radius;
      }
    }
  }

  h2, h3 {
    font-family: $main-font;
    margin: 20px 0;
  }

  .story-information-container {

    .genre-container {
      margin: 10px 0;

      .span {
        display: block;
      }
    }

    .description-container {
      max-width: 600px;
      margin: 10px 0;
    }
  }

  .story-activity-container {
    border: 1px solid $text;
    border-radius: $radius;
    padding: 1em;
    width: fit-content;
    margin: 20px;

    .picto-container {
      width: 20px;
      margin-right: 10px;
    }
  }

  .created-at-container, .updated-at-container, .status-at-container {
    display: flex;
    margin: 20px 0;
    align-items: center;
  }
}