@use "../../core/mixins" as *;
@use "../../core/font" as *;
@use "../../core/theme" as *;

@use "../../components/cards" as card;

@use "../../partials/status_story.scss";

.stories-container {
  max-width: 750px;
  margin: 0 auto;

  .grid {
    @include for-tablet-portrait-up {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 20px;
      align-items: stretch;
    }

    .story-container {
      @include card.card($background-primary-dark, $radius);
      margin: 20px 0;
      box-sizing: border-box;
      display: grid;
      grid-template-rows: auto 1fr auto;
      min-height: 0;
      padding: 20px;

      @include for-tablet-portrait-up {
        margin: 0;
      }

      .card-header {
        font-family: $main-font;
        font-weight: 300;
        color: #bfbbc6;
        font-size: 12px;
        margin-bottom: 13px;

        h2 {
          font-size: 1.6rem;
        }

        h3, p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
        }
      }

      .card-body {
        img {
          width: 100%;
          border-radius: $radius;
        }
        .published, .not-published {
          float: right;
        }
      }

      .card-footer {
        .story-information-container {
          text-align: center;
        }

        padding-top: 15px;
      }
    }
  }
}