{% extends 'layouts/main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('layout_main') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('layout_main') }}
{% endblock %}

{% block main %}

    <div>
        Hello World!
    </div>

{% endblock %}