@use "../../../styles/core/theme" as *;
@use "../../../styles/components/cards" as card;
@use "../../partials/form_error";

.card {
  @include card.card($background-dark, $radius);
  color: $text-dark;
  border: 1px solid $text;
  padding: 16px;
}