
@use "../../core/theme" as *;
@use "../../partials/form_error";

.container {

  h1 {
    margin-bottom: 20px;
  }

  label {
    display: block;
  }

  input {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid $primary;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
}