
$primary:                     rgb(237, 237, 237);
$secondary:                   rgb(103, 16, 203);
$secondary-dark:              rgb(71, 12, 135);
$tertiary:                    rgb(103, 103, 227);

$success:                     rgb(7, 189, 0);
$danger:                      rgb(255, 75, 18);
$warning:                     rgb(255, 173, 25);
$muted:                       rgb(150, 150, 150);
$link:                        rgb(176, 176, 255);
$button:                      rgb(46, 0, 70);

$move-primary:                rgb(255, 113, 98);
$move-text:                   rgb(106, 106, 106);

$light:                       #f8f8f8;
$disable:                     rgb(200, 200, 200);

$secondary-light:             rgb(165, 114, 223);
$tertiary-light:              rgb(152, 152, 213);
$danger-light:                rgb(244, 220, 212);

$background-color:            #f3f3f3;
$grey:                        rgb(138, 138, 138);
$warning-light:               rgb(255, 240, 210);
$dark-grey:                   #505050;
$white:                       #fff;


$background-primary:          $secondary;
$text-primary:                $primary;

$background-primary-light:    $secondary-light;
$text-primary-light:          $primary;

$background-secondary:        $secondary-dark;
$text-secondary:              $primary;

$background-button:           $button;
$text-button:                 $primary;

$background-danger:           $danger;
$text-danger:                 $primary;

$background-secondary-light:  $secondary-light;
$text-secondary-light:        $primary;

$background-danger-light:     $danger-light;
$text-danger-light:           $danger;

$background-warning-light:    $warning-light;
$text-warning-light:          $secondary-dark;

$background-dark:             #15161A;
$text-dark:                   $light;


$radius:                      30px;
$medium-radius:               20px;
$little-radius:               5px;

$main-font:                   'Inknut Antiqua', serif;
$secondary-font:              'Helvetica', sans-serif;