$primary:                               rgb(103, 16, 203);
$primary-dark:                          rgb(46, 0, 70);
$primary-light:                         rgb(165, 114, 223);
$secondary:                             rgb(97 199 220);
$secondary-dark:                        rgb(6, 87, 87);
$tertiary:                              rgb(103, 103, 227);
$tertiary-light:                        rgb(152, 152, 213);
$dark:                                  rgb(25, 3, 48);
$text:                                  rgb(237, 237, 237);

$success:                               rgb(7, 189, 0);
$danger:                                rgb(255, 54, 18);
$warning:                               rgb(255, 173, 25);
$muted:                                 rgb(150, 150, 150);
$link:                                  rgb(176, 176, 255);

$light:                                 #f8f8f8;
$disable:                               rgb(200, 200, 200);

$danger-light:                          rgb(244, 220, 212);
$warning-light:                         rgb(255, 240, 210);
$grey:                                  rgb(138, 138, 138);
$dark-grey:                             #505050;

$background-primary:                    $primary;
$text-primary:                          $text;

$background-primary-light:              $primary-light;
$text-primary-light:                    $dark;

$background-secondary:                  $secondary;
$text-secondary:                        $dark;

$background-dark-primary:               $dark;
$text-dark-primary:                     $text;

$background-primary-dark:               $primary-dark;
$text-primary-dark:                     $text;

$background-success:                    $success;
$text-success:                          $dark;

$background-danger:                     $danger;
$text-danger:                           $text;

$background-danger-light:               $danger-light;
$text-danger-light:                     $danger;

$background-warning:                    $warning;
$text-warning:                          $dark;

$background-warning-light:              $warning-light;
$text-warning-light:                    $warning;

$background-disable:                    $disable;
$text-disable:                          $dark-grey;

$background-dark:                       #15161A;
$text-dark:                             $light;

$background-footer:                     rgba(227, 243, 255, 0.3);
$text-footer:                           $text;

$radius:                                30px;
$medium-radius:                         20px;
$little-radius:                         5px;

$main-font:                             'Inknut Antiqua', serif;
$secondary-font:                        'Helvetica', sans-serif;