@use "../core/theme" as *;

@mixin btn-base {

  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  margin: 10px auto;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;

  &:hover {
    background-color: $background-primary;
  }
}

.btn-primary {
  @include btn-base;
  background-color: $background-primary;
  color: $text-primary;
}

.btn-secondary {
  @include btn-base;
  background-color: $background-primary;
  color: $text-primary;
}

.btn-danger {
  @include btn-base;
  background-color: $background-danger;
  color: $text-danger;
}

.btn-nav {
  @include btn-base;
  border-radius: 30px;
  background-color: $background-primary;
  color: $text-primary;
}

.btn-author {
  @include btn-base;
  border-radius: 30px;
  border: 1px solid $text;
  background-color: $background-dark;
  color: $text-dark;
}

.btn-disabled {
  @include btn-base;
  background-color: $background-disable;
  color: $text-disable;
  cursor: default;

  &:hover {
    background-color: $background-disable;
    color: $text-disable;
  }
}