@use "../core/mixins" as *;
@use "../core/font" as *;
@use "../core/theme" as *;

.container {
  .welcome-container {
    position: relative;
    background-image: url('/assets/images/background/Foret-magique.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 320px;
    max-height: 400px;
    border-radius: $radius;

    div {
      position: absolute;
      border-radius: $medium-radius;
      background-color: rgba(0,0,0,.7);
      padding: 1em;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      font-family: $main-font;
      line-height: 1.5;
      text-align: center;

      @include for-tablet-portrait-up {
        padding: 4em;
      }

      span {
        display: block;
        margin: 15px;
      }
    }
  }

  .search-container {
    border-radius: $radius;
    margin: 10px 0;
    padding: 30px;
    background-color: $background-primary;

    .genre-select {
      border: none;
      width: 100%;
      padding: 10px;
      border-radius: $little-radius;
      background-color: $background-dark;
      color: $primary;
      margin-bottom: 10px;
    }

    .input-with-icon {
      position: relative;

      input {
        border: none;
        width: 100%;
        padding: 10px;
        border-radius: $radius;
        background-color: $background-dark;
        color: $primary;
        margin-bottom: 10px;
        box-sizing: border-box;
      }
      img {
        position: absolute;
        right: 11px;
        top: 10px;
        width: 15px;
      }
    }
  }
}