@use "../core/mixins" as *;
@use "../core/font" as *;
@use "../core/theme" as *;

@use "../partials/stories_grid.scss";

@use "../components/cards" as card;

.container {
  .welcome-container {
    position: relative;
    background-image: url('/assets/images/background/Foret-magique.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 320px;
    max-height: 400px;
    border-radius: $radius;

    h2 {
      position: absolute;
      border-radius: $medium-radius;
      background-color: rgba(0,0,0,.7);
      padding: 1em;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      font-family: $main-font;
      line-height: 1.5;
      text-align: center;

      @include for-tablet-portrait-up {
        padding: 4em;
      }

      span {
        display: block;
        margin: 15px;
      }
    }
  }

  .search-container {
    border-radius: $radius;
    margin: 20px auto;
    padding: 30px;
    background-color: $background-primary;
    max-width: 700px;
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 20px;
    }

    .genre-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 20px;

      border: none;
      width: 100%;
      padding: 10px;
      border-radius: $little-radius;
      background-color: $background-dark;
      color: $text-dark;

      cursor: pointer;
      user-select: none;
    }

    .input-with-icon {
      position: relative;

      input {
        border: none;
        width: 100%;
        padding: 10px;
        border-radius: $radius;
        background-color: $background-dark;
        color: $text-dark;
        box-sizing: border-box;
      }
      img {
        position: absolute;
        right: 17px;
        top: 10px;
        width: 15px;
      }
    }

    #main_story_submit {
      margin: 0;
      background-color: $background-dark;
      color: $text-dark;
    }
  }


}